@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');

/* reset */
a, abbr, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}
em, address {
	font-weight: normal;
	font-style: normal;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, ol, li {
	list-style: none;
}
textarea {
	overflow: auto;
}
button {
	cursor: pointer;
}

/* base */
body {
	font-size: 20px;
	line-height: 1.5;
	color: #111;
	font-family:  '나눔고딕', 'NanumGothic', 'Nanum Gothic', '돋움', 'Dotum', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
strong, b, dt,
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
input, textarea, select, option, button {
	font-size: 100%;
	font-family: inherit;
}

.clear:after,
.row:after {
	clear: both;
	content: '';
	display: block;
}
.only-sr {
	overflow: hidden;
	position: absolute;
	top: -999999px;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}

/* grid system */
.row {
}
.row > * {
	position: relative;
	float: left;
}
.col2-1 {
	width: 50%;
}



/* layout */
body {
	max-width: 720px;
	margin: 0 auto;
	background: #fff ;
}

#page img{
	display: block;
}

/* layout | header */
.site-header {
	position:relative;
	margin-bottom:-1.3%;

}

.main-photo {
	position:absolute;
	font-size: 0;
	top: 42.0%;
	font-size: 0; 
	left: 19.3%;
	right: 19.0%;
	bottom:36.5%;
	overflow: hidden;
}
.main-photo img {
	width: 100%;
	
	
}
.member{
	position:absolute;

/*	font-size: 1.5em; */
	font-size: 1.3em;
	font-weight:500;
	top: 67.0%;
	line-height: 1.2em;
	left: 15.3%;
	right: 9.0%;
}

.member p{
	position: absolute;
	color:#333;
	text-align: center;
}

.member .name-1{
	
}

.member .name-2{
	left:/*40%*/ /*34%;쌍둥이 */ /*37%; 원래꺼*/ 30%;
	
}

.member .name-3{
	left:74%;
}

.member p img{
	display: inline !important;
}
.name-wrap{
	position: absolute;
    top: 70%;
    left: 11.1%;
    right: 9.6%;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.3;
    color: white;
}

#header .event-info{
	position: absolute;
    top: 78.5%;
    left: 8.1%;
    right: 6.6%;
    text-align: center;
    color: #333;
}

#header .event-info .parents{
	font-size:1.8em;
	margin-bottom:.8%;
}

#header .event-info .time{
	font-size: 1.5em;
	line-height: 1.2em;
	margin-bottom:2%;
}
.album-wrap{
	position: relative;
}
.album-wrap .album-1{
	position: absolute;
    top: 7.9%;
    left: 6.2%;
    right: 7.5%;
	bottom:56%;
	overflow: hidden;
}

.album-wrap .album-2{
	position: absolute;
    top: 44.7%;
    left: 6.2%;
    right: 7.5%;
	bottom:19%;
	overflow: hidden;
}

.album-wrap .album-3{
	position: absolute;
    top: 57.1%;
    left: 43%;
    right: 8.5%;
	bottom:0%;
	overflow: hidden;
}

.dday-wrap{
	
	position: absolute;
	top:66%;
	left:8%;
	right:56%;
}

.photo-more {
	position: absolute;
    top: 84.8%;
    left: 84.5%;
    right: 5%;
	
}

.dday-wrap > span{
	display: inline-block;
	position:absolute;
	color:white;
	top:40%;
	left:27%;
	right:5%;
	font-size: 2em;
    font-weight: bold;
    font-style: italic;
	
}

.dday-wrap > span > span{
	padding-left:10%;
}

.invi-wrap{
	position: relative;
	color:#333;
	word-spacing: -1px;
}

.invi-wrap > p{
	    position: absolute;
    /* 원래꺼 top: 16.5%;*/
	top: 14.5%;
    left: 16%;
    right: 16%;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.7em;
    word-break: keep-all;
    font-weight: 500;
	
	
}

.invi-wrap .invi-text{
	position: absolute;
	top:80%;
/*	초대글 밑에 아기 이름 위치 left: 10%; */
	left: 5%;
    right: 5%;
    text-align: left; 
	font-size: 1.0em;
	
}
.invi-wrap .invi-text img{
	display: inline !important;
}
.invi-wrap .invi-text > p{
	position: relative;
	font-size: .9em;
	font-weight: bold;
	line-height: 1.5em;
}

.invi-wrap .invi-text > p span{
	position: absolute;
	left:/*3*/1;
	right:78%;
	text-align: left;
}
.invi-wrap .invi-text > div{
	position: absolute;
	left:20%;
	right:0%;
}
.invi-wrap .invi-text > div img{
	
	vertical-align: middle;
	
}

.invi-wrap .event-info > p{
	line-height: 1.2em;
}
footer{
	background: white;
	position: relative;
}
.map {
	margin: 0;
	line-height: 0;
	position: absolute;
    top: 101%;
    left: 9%;
    right: 8%;
}

.map img{
	margin: 0 auto;
	
}

.last-img{
	position: absolute;
	top:1450%;
	left:0;
	right:0;
}
.site-footer .wrapper {
	padding: 0px;
	font-size: 0;
	position: absolute;
	top:1000%;
		
	
}

.site-footer .wrapper .wrapper_inner{
	margin:0 -30px;
	
}

.link-map{
	width:43.3%;
	float:left;
}
.link-call {
	position: absolute;
	top:230%;
	left:19%;
	right:5%;
}
.link-call p {
	width:25%;
}
.link-sns {
	position: absolute;
	top:77%;
	left:19%;
	right:5%;
		
}
.link-sns p {
	width: 20%;
}
.link-sns a {
	
}
.link-2g,
.link-bbs{
	width:50%;
	float:left;
}

/* IE7 */
.ie7 .clear,
.ie7 .row {
	zoom: 1;
}
.ie7 input, .ie7 textarea, .ie7 select, .ie7 option, .ie7 button {
	font-family:  '나눔고딕', 'NanumGothic', 'Nanum Gothic', '돋움', 'Dotum', sans-serif;
}
.ie7 a {
	color: #444;
}
.ie7 a[href] {
	cursor: pointer;
}
.ie7 .col2-1 {
	width: 49.9%;
}
.ie7 .main-photo {
	zoom: 1;
}
.ie7 .landscape1 {
	width: 71.9%;
}
.ie7 .landscape1-side {
	width: 23.9%;
}
.ie7 .portrait1-side {
	width: 47.8%;
}
.ie7 .album .row .box {
	font-size: 0;
}
.ie7 .link-sns p {
	width: 19.9%;
}
