@charset "utf-8";
/*@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');*/

/* reset */
a, abbr, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}
em, address {
	font-weight: normal;
	font-style: normal;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, ol, li {
	list-style: none;
}
textarea {
	overflow: auto;
}
button {
	cursor: pointer;
}

/* base */
body {
	font-size: 20px;
	line-height: 1.5;
	color: #111;
	font-family:  '³ª´®°íµñ', 'NanumGothic', 'Nanum Gothic', 'µ¸¿ò', 'Dotum', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
strong, b, dt,
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
input, textarea, select, option, button {
	font-size: 100%;
	font-family: inherit;
}

.clear:after,
.row:after {
	clear: both;
	content: '';
	display: block;
}
.only-sr {
	overflow: hidden;
	position: absolute;
	top: -999999px;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}

/* grid system */
.row {
}
.row > * {
	position: relative;
	float: left;
}
.col2-1 {
	width: 50%;
}

/* layout */
body {
	max-width: 720px;
	margin: 0 auto;
}

/* layout | header */
.site-header {
	padding-bottom: 5%;
	background: #ffef00 url('http://m.dejavu-m.com/data/sample_img/8/bg-header.png') 0 100% repeat-x;
}

.site-logo {
	position: relative;
}
.site-logo img {
	width: 100%;
}
.site-logo .name {
	position: absolute;
	right: 62.5%;
	top: 29%;
	font-size: 1.75em; /* 35px */
	font-style: oblique;
}
.site-logo .parents {
	position: absolute;
	left: 22%;
	right: 18%;
	top: 44%;
	display: block;
	font-size: 1.4em; /* 28px */
	font-style: oblique;
	letter-spacing: -1px;
}
.site-logo .parent {
	display: inline-block;
	width: 48%;
}

.main-photo {
	margin: -20% 11% 0;
	border: 10px solid #000;
	font-size: 0;
}
.main-photo img {
	width: 100%;
}

.event-info {
	position: relative;
	margin: -26% 0 0;
}
.event-info img {
	width: 100%;
}
.event-info dl {
	position: absolute;
	top: 61%;
	left: 12%;
	right: 14%;
}
.event-info dt {
	float: left;
	clear: left;
	width: 17%;
	margin-right: 1.5%;
	line-height: 1;
}
.event-info dd {
	margin-bottom: 1.8%;
	margin-left: 19%;
	font-size: 1.4em /* 28px */
	font-style: oblique;
	letter-spacing: -1px;
	font-weight: 700;
	line-height: 1;
}
.event-info .address {
	font-size: 1em; /* 20px */
	line-height: 1.2;
}

/* layout | main */
.site-main {
	padding: 30px 30px 0;	
}

.box {
	position: relative;
	line-height: 0;
}
.box .deco {
	position: absolute;
	right: -2.5%;
	bottom: 1%;
	width: 20%;
}
.box .dday {
	position: absolute;
	top: 57%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 1.75em; /* 35px */
	line-height: 1;
	letter-spacing: -1px;
}
.album img {
	width: 100%;
}
.album .row {
	margin: 0 -0.2%;
}
.album .row > div {
	margin: 0.4%;
	padding: 0.6%;
	background: #000;
}
.landscape1 {
	width: 72%;
}
.landscape1-side {
	width: 24%;
}
.portrait1 {
	width: 48%;
}
.portrait1-side {
	width: 48%;
}
.portrait1-side .more {
	position: absolute;
	top: -7%;
	left: -15%;
	right: -15%;
	display: block;
}

.cover {
	margin-top: 50px;
	margin-right: -2.33%;
	line-height: 0;
}

.card-text {
	position: relative;
	border: 6px solid #000;
	line-height: 0;
}
.card-title {
	padding: 4% 13% 0;
}
.card-text .textarea {
	position: relative;
	margin: 4% 13%;
	font-size: 1.35em; /* 1.5em; */ /* 30px */
	letter-spacing: -1px;
	line-height: 1.5;
}
.card-text .textarea .from {
	float: right;
	margin-top: 10%;
	font-size: 0.933em /* 28px */
}
.event-info2 {
	position: absolute;
	left: 4%;
	bottom: 5%;
	width: 96%;
	letter-spacing: -1px;
	font-weight: 700;
	line-height: 1.5;
}
.event-info2 .date {
	font-size: 1.5em; /* 30px */
	font-style: oblique;
}
.event-info2 .address {
	margin-left: 2%;
	font-size: 1.2em /* 24px */
}

.bg-card {
	width: 100%;
	margin-top: -10%;
}


/* layout | footer */
.site-footer a {
	display: block;
}
.site-footer img {
	width: 100%;
}
.location {
	padding: 10px 30px 0;
}
.location-title {
	border: 6px solid #000;
	line-height: 0;
}
.map {
	margin: 0 -30px;
	line-height: 0;
}
.site-footer .wrapper {
	padding: 10px;
	background: #414141;
	font-size: 0;
	
}
.link-call {
	margin: 6px -5px;
}
.link-call a {
	margin: 2px 5px;
}
.link-sns {
	margin: 6px -5px;
}
.link-sns p {
	width: 20%;
}
.link-sns a {
	margin: 0 5px;
}


/* IE7 */
.ie7 .clear,
.ie7 .row {
	zoom: 1;
}
.ie7 input, .ie7 textarea, .ie7 select, .ie7 option, .ie7 button {
	font-family:  '³ª´®°íµñ', 'NanumGothic', 'Nanum Gothic', 'µ¸¿ò', 'Dotum', sans-serif;
}
.ie7 a {
	color: #444;
}
.ie7 a[href] {
	cursor: pointer;
}
.ie7 .col2-1 {
	width: 49.9%;
}
.ie7 .main-photo {
	zoom: 1;
}
.ie7 .landscape1 {
	width: 71.9%;
}
.ie7 .landscape1-side {
	width: 23.9%;
}
.ie7 .portrait1-side {
	width: 47.8%;
}
.ie7 .album .row .box {
	font-size: 0;
}
.ie7 .link-sns p {
	width: 19.9%;
}
