@charset "utf-8";
/*@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');*/

/* reset */
a, abbr, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}
em, address {
	font-weight: normal;
	font-style: normal;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, ol, li {
	list-style: none;
}
textarea {
	overflow: auto;
}
button {
	cursor: pointer;
}

/* base */
body {
	font-size: 20px;
	line-height: 1.5;
	color: #111;
	font-family:  '나눔고딕', 'NanumGothic', 'Nanum Gothic', '돋움', 'Dotum', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
strong, b, dt,
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
input, textarea, select, option, button {
	font-size: 100%;
	font-family: inherit;
}

.clear:after,
.row:after {
	clear: both;
	content: '';
	display: block;
}
.only-sr {
	overflow: hidden;
	position: absolute;
	top: -999999px;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}

/* grid system */
.row {
}
.row > * {
	position: relative;
	float: left;
}
.col2-1 {
	width: 50%;
}



/* layout */
body {
	max-width: 720px;
	margin: 0 auto;
	background: #f9f7f7 ;
}

#page img{
	display: block;
}

/* layout | header */
.site-header {
	position:relative;
	margin-bottom:-1.3%;

}

.main-photo {
	position:absolute;

	font-size: 0;
	top: 14.3%;
	font-size: 0;
	left: 14.5%;
	right: 14.3%;
	bottom: 34%;
	overflow: hidden;
}
.main-photo img {
	width: 100%;
	
	
}

.name-wrap{
	position: absolute;
    top: 70%;
    left: 11.1%;
    right: 9.6%;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.3;
    color: white;
}

#header .event-info{
	position: absolute;
    top: 80.5%;
    left: 11.1%;
    right: 9.6%;
	bottom: 10%;
    text-align: center;
    color: #333;
}

#header .event-info .parents{
	font-size:1.8em;
	margin-bottom:.8%;
}

#header .event-info .time{
	font-size: 2em;
	font-weight: bold;
	margin-bottom:2%;
}
.album-wrap{
	position: relative;
}
.album-wrap .album-1{
	position: absolute;
    top: 4.8%;
    left: 53.4%;
    right: 9%;
	bottom: 68%;
	overflow: hidden;
}

.album-wrap .album-2{
	position: absolute;
    top: 25.6%;
    left: 6.3%;
    right: 56%;
	bottom: 47.5%;
	overflow: hidden;
}

.album-wrap .album-3{
	position: absolute;
    top: 57.1%;
    left: 43%;
    right: 8.5%;
	bottom: 24%;
	overflow: hidden;
}

.dday-wrap{
	
	position: absolute;
	top:66%;
	left:8%;
	right:68%;
}

.photo-more {
	position: absolute;
    top: 34.7%;
    left: 56%;
    right: 15%;
	
}

.dday-wrap > span{
	display: inline-block;
	position:absolute;
	color:white;
	top:40%;
	left:27%;
	right:5%;
	font-size: 2em;
    font-weight: bold;
    font-style: italic;
	
}

.dday-wrap > span > span{
	padding-left:35%;
}

.invi-wrap{
	position: relative;
	color:#3e4266;
	word-spacing: -1px;
}

.invi-wrap > p{
	position: absolute;
    top: 27.5%;
    left: 17%;
    right: 17%;
    text-align: center;
    font-size: 1.3em;
	line-height: 1.3em;
    word-break: keep-all;
	
	
}

.invi-wrap .event-info{
	position: absolute;
	top:59%;
	left: 17%;
    right: 17%;
    text-align: center;
	font-size: 1.3em;
	
}

.invi-wrap .event-info > p{
	line-height: 1.2em;
}

.map {
	margin: 0;
	line-height: 0;
}
.site-footer .wrapper {
	padding: 0px;
	font-size: 0;
	
}

.site-footer .wrapper .wrapper_inner{
	margin:0 -30px;
	
}

.link-map{
	width:43.3%;
	float:left;
}
.link-call {
	
}
.link-call p {
	width:25%;
}
.link-sns {
	
}
.link-sns p {
	width: 14.175%;
}
.link-sns a {
	
}
.link-2g,
.link-bbs{
	width:50%;
	float:left;
}

/* IE7 */
.ie7 .clear,
.ie7 .row {
	zoom: 1;
}
.ie7 input, .ie7 textarea, .ie7 select, .ie7 option, .ie7 button {
	font-family:  '나눔고딕', 'NanumGothic', 'Nanum Gothic', '돋움', 'Dotum', sans-serif;
}
.ie7 a {
	color: #444;
}
.ie7 a[href] {
	cursor: pointer;
}
.ie7 .col2-1 {
	width: 49.9%;
}
.ie7 .main-photo {
	zoom: 1;
}
.ie7 .landscape1 {
	width: 71.9%;
}
.ie7 .landscape1-side {
	width: 23.9%;
}
.ie7 .portrait1-side {
	width: 47.8%;
}
.ie7 .album .row .box {
	font-size: 0;
}
.ie7 .link-sns p {
	width: 19.9%;
}
