@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

/*@font-face{
  font-family:NanumGothic;
  font-style: normal;
  font-weight: normal;
  src: url(../img/NanumGothic.eot);
  src: local(※), url(../img/NanumGothic.woff) format('woff'), url('../img/NanumGothic.ttf') format('truetype');
}*/

/* COMMON */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'NanumGothic', 나눔고딕, '돋움', tahoma;font-size:12px}/*font-family:'Nanum Gothic',Dotum, tahoma;font-size:12px*/
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind,#skip,legend,.hid{display:block;overflow:hidden;position:absolute;top:-1000em;left:-1000em}
hr{padding:0;margin:0}
.iframe_style{border:none;overflow:hidden;margin:0 auto}

/* LAYOUT */
body{height:100%;margin:0}
#wrap{width:100%;margin:0 auto}
#header{height:153px;text-align:center;position:relative}
#container{width:100%;clear:both;margin:0 auto;text-align:center;zoom:1}
#container:after{content:"";display:block;font-size:0;height:0;line-height:0;clear:both}

/* HEADER */
#header h1{width:100%;height:97px;background:#fff0f4;}
#header h1 a{display:inline-block;zoom:1;*display:inline;width:92px;height:74px;overflow:hidden;margin-top:15px;background:url(../img/content_list.png) no-repeat 0 0;position:relative;z-index:2}
.lnb{width:980px;height:97px;position:absolute;left:50%;top:0;margin-left:-490px;z-index:0}
.lnb fieldset{width:490px;float:right;text-align:right;padding-right:12px;margin-top:68px}
.lnb fieldset .input_text,.lnb fieldset .input_pw{display:inline-block;zoom:1;*display:inline;position:relative}
.lnb fieldset input[type=text],.lnb fieldset input[type=password]{height:16px;padding:2px 0 0 2px;border:1px solid #d2d2d2}
.lnb fieldset input[type=text]{width:168px}
.lnb fieldset input[type=password]{width:78px}
.lnb fieldset .i_label,.lnb fieldset .i_label2{display:block;height:16px;padding:2px 0 0 2px;font-size:11px;text-align:left;color:#afafaf;position:absolute;left:1px;top:1px}
.lnb fieldset .i_label{width:168px}
.lnb fieldset .i_label2{width:78px}
.lnb fieldset p{display:inline-block;zoom:1;*display:inline;padding-top:2px;color:}

.gnb{width:100%;height:56px;font-family:'NanumGothic';font-size:15px;font-weight:normal;color:#fff;background:url(../img/gnb_bg.png) repeat-x}
.gnb a{color:#fff;text-decoration:none}
.gnb ul{display:inline-block;zoom:1;*display:inline;height:56px;clear:both;margin-left:-6px}
.gnb ul li{float:left;height:56px;margin-left:6px}
.gnb ul li a{display:block;height:40px;padding:16px 3px 0 0;background:url(../img/gnb_listbg.png) no-repeat 0 0}
.gnb ul li.n1 a{width:115px}
.gnb ul li.n2 a{width:67px}
.gnb ul li.n3 a{width:81px}
.gnb ul li.n4 a{width:83px}
.gnb ul li.n5 a{width:111px}
.gnb ul li.n6 a{width:109px}
.gnb ul li.n7 a{width:68px}
.gnb ul li.n7 a{width:71px}
.gnb ul li.n8 a{width:83px}
.gnb ul li.n1.on a,.gnb ul li.n1 a:hover{background-position:0 -56px}
.gnb ul li.n2.on a,.gnb ul li.n2 a:hover{background-position:-124px -56px}
.gnb ul li.n3.on a,.gnb ul li.n3 a:hover{background-position:-200px -56px}
.gnb ul li.n4.on a,.gnb ul li.n4 a:hover{background-position:-290px -56px}
.gnb ul li.n5.on a,.gnb ul li.n5 a:hover{background-position:-381px -56px}
.gnb ul li.n6.on a,.gnb ul li.n6 a:hover{background-position:-501px -56px}
.gnb ul li.n7.on a,.gnb ul li.n7 a:hover{background-position:-619px -56px}
.gnb ul li.n8.on a,.gnb ul li.n8 a:hover{background-position:-696px -56px}
.gnb ul li.btn1,.gnb ul li.btn2{background-image:none;}
.gnb ul li.btn1 button{display:inline-block;width:100px;height:26px;;margin:12px 0 0 47px;border:0;cursor:pointer;background:url(../img/btn_top1.png) no-repeat}
.gnb ul li.btn2{margin-top:12px}
.gnb ul li.btn2 button{width:114px;height:26px;border:0;cursor:pointer;background:url(../img/btn_top2.png) no-repeat}
.gnb ul li.btn3{margin-top:12px}
.gnb ul li.btn3 button{width:114px;height:26px;border:0;cursor:pointer;background:url(../img/btn_top3.png) no-repeat}

/* CONTANT */
.content1{width:980px;height:735px;text-align:left;margin:0 auto}
.content1 .front{background:url(../img/main.png) no-repeat 0 0;position:relative}
.content2{width:100%;*margin-bottom:100px;clear:both;background:url(../img/content2_bg.png) repeat-x #fff;zoom:1}
.content2{content:"";clear:both;display:block}
.content2 ul{width:950px;margin:0 auto;padding:69px 0 0 30px}
.content2 ul li{float:left;position:relative;margin:0 0 80px 66px}
.content2 ul li .mphoto{width:146px;height:259px;text-align:center;border:1px solid #d8d8d8;background:url(../img/mphoto_bg.png) no-repeat center 104px #f6f6f6}
.content2 ul li .mphoto img{border:0}
.content2 ul li h4{font-size:12px;font-weight:normal;margin-top:10px;color:#333}
.content2 ul li h4 a{color:#333}
.content2 ul li span{display:inline-block;width:187px;text-align:12px;line-height:21px;text-align:left;padding-left:30px;color:#6f6f6f;position:absolute;right:0;bottom:0}
.content2 ul li.ready h4{font-size:12px;font-weight:normal;color:#a6a6a6}
.content2 ul li.ready span{display:inline-block;float:left;text-align:12px;line-height:21px;text-align:left;padding-left:30px;color:#6f6f6f}

.section1{display:inline-block;*display:inline;*zoom:1;width:377px;height:722px;margin:84px 33px 50px 0;background:url(../img/section1_bg.png) no-repeat left top;position:relative}

.section2{display:inline-block;*display:inline;*zoom:1;width:511px;padding-bottom:100px;text-align:left;vertical-align:top;margin-top:84px}
.section2 h4{height:47px;font-size:16px;color:#333;background:url(../img/bullet.png) no-repeat 0 6px;padding:8px 0 0 27px;}


/* BUTTON */
.btn_box{float:left}
.btn_box2{text-align:right;padding-right:53px}
.button,.button a,.button button,.button input{position:relative;margin:0;display:-moz-inline-stack;display:inline-block;text-decoration:none !important;border:0;font-size:12px;font-family:Tahoma, Sans-serif;white-space:nowrap;background:url(../img/content_list.png) no-repeat;overflow:visible;color:#333}
.button{height:23px;padding:0;vertical-align:top;margin-right:3px;background-position:left top}
.button a,.button button,.button input{left:5px;vertical-align:top;cursor:pointer}

.button.style1{height:18px;margin-top:1px;*margin-top:2px;background-position:left -79px}
.button.style1 a,.button.style1 button,.button.style1 input{height:18px;padding:1px 5px 0 0;*padding-top:0;font-size:11px;line-height:18px;color:#fff;vertical-align:middle;background-position:right -79px}

.button.style2{height:18px;margin-top:1px;*margin-top:2px;background-position:left -102px}
.button.style2 a,.button.style2 button,.button.style2 input{height:18px;padding:1px 5px 0 0;*padding-top:0;font-size:11px;line-height:18px;color:#fff;vertical-align:middle;background-position:right -102px}

.button.style3{height:27px;padding-left:6px;background-position:left -125px}
.button.style3 a,.button.style3 button,.button.style3 input{height:27px;padding:0 11px 0 0;font-size:12px;line-height:12px;color:#fff;vertical-align:middle;background-position:right -125px}
.button.style3.blue{background-position:left -157px}
.button.style3.blue a,.button.style3.blue button,.button.style3.blue input{background-position:right -157px}

.btn_calendar{display:inline-block;*display:inline;*zoom:1;width:21px;height:16px;border:0;cursor:pointer;background:url(../img/content_list.png) no-repeat -413px 0}

/* MODAL WINDOW */
.mw_pop{display:none;position:fixed;_position:absolute;top:0;left:0;z-index:10000;width:100%;height:100%}
.mw_pop.open{display:block}
.mw_pop .bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50)}
#pop_style{position:absolute;top:284px;left:50%;width:331px;margin-left:-142px;padding:0;text-align:center;border:1px solid #212121;background:#fff;font-size:12px;color:#767676;line-height:normal;white-space:normal}
#pop_style h4{height:28px;font-size:14px;font-weight:normal;text-align:left;color:#333;vertical-align:middle;padding:10px 0 0 17px;background:#e3e3e3}
#pop_style .txt{display:inline-block;font-size:14px;color:#000;line-height:24px;padding:30px 0 20px 0}
#pop_style fieldset{display:block;padding:23px 0 28px 0;background:url(../img/content2_bg.png) repeat-x 0 0;position:relative}
#pop_style fieldset input{width:200px;height:24px;padding-left:6px;margin-right:13px;vertical-align:middle;line-height:24px;border:1px solid #d2d2d2}
#pop_style fieldset .guide{width:200px;*width:208px;height:24px;padding:0 0 0 6px;font-size:12px;color:#afafaf;line-height:24px;vertical-align:middle;text-align:left;position:absolute;left:28px;top:24px}
#pop_style .btn_close{display:block;width:23px;height:23px;cursor:pointer;border:0;background:url(../img/content_list.png) no-repeat -185px 0;position:absolute;right:-23px;top:-1px}
#pop_style2{width:387px;padding:0;text-align:center;font-size:12px;color:#fff;line-height:normal;white-space:normal}
#pop_style2 h4{height:47px;line-height:47px;vertical-align:middle;font-size:20px;font-weight:normal;text-align:left;padding:0 0 0 16px}
#pop_style2 .preview{width:387px;height:736px;background:url(../img/preview_bg.png) no-repeat;position:relative}
#pop_style2 .preview .con{width:320px;height:569px;position:absolute;left:28px;top:68px;background:gray}
#pop_style2 .btn_close{display:block;width:23px;height:23px;cursor:pointer;border:0;background:url(../img/content_list.png) no-repeat -185px 0;position:absolute;right:50px;top:30px}
#pop_style2 .arr_top{width:51px;height:26px;overflow:hidden;cursor:pointer;border:0;margin-left:-24px;background:url(../img/content_list.png) no-repeat -213px 0;position:absolute;left:50%;top:10px;}
#pop_style2 .arr_bottom{width:51px;height:26px;overflow:hidden;cursor:pointer;border:0;margin-left:-24px;background:url(../img/content_list.png) no-repeat -269px 0;position:absolute;left:50%;bottom:10px;}
#pop_style2 .arr_left{width:26px;height:51px;overflow:hidden;cursor:pointer;border:0;margin-top:-24px;background:url(../img/content_list.png) no-repeat -324px 0;position:absolute;left:10px;top:50%;}
#pop_style2 .arr_right{width:26px;height:51px;overflow:hidden;cursor:pointer;border:0;margin-top:-24px;background:url(../img/content_list.png) no-repeat -355px 0;position:absolute;right:10px;top:50%;}

.mw_pop2{display:none;position:absolute;top:0;left:0;z-index:10000;width:387px;height:736px}
.mw_pop2.open{display:block}
#pop_style3{width:387px;padding:0;text-align:center;font-size:12px;color:#fff;line-height:normal;white-space:normal}
#pop_style3 h4{height:47px;line-height:47px;vertical-align:middle;font-size:20px;font-weight:normal;text-align:left;padding:0 0 0 16px}
#pop_style3 .preview{width:387px;height:736px;background:url(../img/preview_bg.png) no-repeat;position:relative}
#pop_style3 .preview .con{width:320px;height:569px;position:absolute;left:29px;top:69px;background:gray}
#pop_style3 .btn_close{display:block;width:23px;height:23px;cursor:pointer;border:0;background:url(../img/content_list.png) no-repeat -185px 0;position:absolute;right:50px;top:30px}

#pop_style4{width:387px;padding:0;text-align:center;font-size:12px;color:#fff;line-height:normal;white-space:normal;position:absolute;left:50%;top:50%;margin:-381px 0 0 -193px}
#pop_style4 .preview{width:387px;height:736px;background:url(../img/preview_bg.png) no-repeat;position:relative}
#pop_style4 .preview .con{width:336px;overflow-x:hidden;overflow-y:scroll;height:569px;border:1px solid #d7d7d7;position:absolute;left:28px;top:69px}
#pop_style4 .btn_close{display:block;width:23px;height:23px;cursor:pointer;border:0;background:url(../img/content_list.png) no-repeat -185px 0;position:absolute;right:50px;top:30px}

/* ETC. STYLE */
.select{display:inline-block;*display:inline;background:#fff;line-height:normal;vertical-align:middle;position:relative;*zoom:1}
.select .value{overflow:visible;/*position:relative;top:0;left:0;*/color:#666;height:22px;line-height:22px;margin:0;padding:0 6px 0 6px;vertical-align:middle;border:1px solid #e5e5e5;z-index:2}
.select .ctrl{display:block;width:22px;height:22px;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background:#fafafa;cursor:pointer;position:absolute;top:0;right:0}
.select .arrow{display:block;top:9px;right:8px;border-top:3px solid #999;border-left:3px solid #fff;border-right:3px solid #fff;font-size:0;line-height:0;position:absolute;width:0;height:0}
.select .i_list{display:none}
.select .i_list.open{display:block;width:100%;max-height:220px;border:1px solid #e5e5e5;background:#fff;position:absolute;left:0;top:22px;z-index:2;overflow-y:scroll}
.select .i_list.no_scroll{overflow:hidden}
.select .i_list li{height:22px;line-height:22px;vertical-align:middle;cursor:pointer}
.select .i_list li:hover{background:pink}
.select .i_list li input[type=radio]{position:absolute;left:-10000px;top:-10000px}
.select .i_list li label{margin-left:6px;cursor:pointer}

.txt_style{height:44px;padding:10px 0 0 10px;font-size:11px;color:#d12248}

.tbl_type,.tbl_type th,.tbl_type td{border:0}
.tbl_type{width:100%;border-bottom:2px solid #dcdcdc;font-family:Tahoma;font-size:11px;text-align:center}
.tbl_type caption{display:none}
.tbl_type th{padding:7px 0 4px;border-top:2px solid #e5e5e5;background-color:#f5f7f9;color:#333;font-family:'돋움',dotum;font-size:12px;font-weight:bold}
.tbl_type td{padding:6px 0 4px;border-top:1px solid #e5e5e5;color:#4c4c4c;font-size:12px}
.tbl_type td.left{text-align:left}

.tbl_type2,.tbl_type2 th,.tbl_type2 td{border:0}
.tbl_type2{width:100%;border-top:2px solid #d0d0d0;border-bottom:2px solid #d0d0d0;text-align:center}
.tbl_type2 th{min-height:42px;line-height:42px;border-top:1px solid #e5e5e5;background:#fafafa;color:#666;font-size:13px;font-weight:bold;vertical-align:middle}
.tbl_type2 td{padding:6px;border-top:1px solid #e5e5e5;color:#4c4c4c;text-align:left}
.tbl_type2 td .input_style{height:22px;line-height:22px;margin:0;padding:0 6px 0 6px;vertical-align:middle;border:1px solid #e5e5e5}

.paginate_regular{padding:15px 0;text-align:center;line-height:normal;margin:0 0 20px -53px}
.paginate_regular a,
.paginate_regular strong{display:inline-block;position:relative;margin:0 -2px;padding:2px 8px;font-weight:bold;font-size:12px;color:#333;line-height:normal;text-decoration:none;vertical-align:middle}
.paginate_regular a:hover,
.paginate_regular a:active,
.paginate_regular a:focus{background-color:#f8f8f8}
.paginate_regular strong{color:#f60}
.paginate_regular .direction{font-weight:normal;font-family:Tahoma, Sans-serif;color:#767676;white-space:nowrap}
.paginate_regular .direction span{font-weight:bold;font-size:14px}
.paginate_regular .direction:hover,
.paginate_regular .direction:active,
.paginate_regular .direction:focus{background-color:#fff;color:#333}

#sample_time { display:none; position:absolute; margin-left:220px; margin-top:-25px; border:1px solid #000;background:#CAE2F8;color:#666; width:150px;height:280px; overflow: auto; }

/* FOOTER */
#footer{width:100%;height:94px;text-align:center;font-family:'dotum';font-size:11px;line-height:13px;color:#a6a6a6;border-top:2px solid #dcdcdc;background:#f3f3f3}
#footer .inner{width:647px;margin:0 auto;text-align:left}
#footer .inner .logo{display:block;float:left;width:75px;height:59px;margin-top:15px;background:url(../img/content_list.png) no-repeat -96px 0}
#footer .inner .txt{display:block;float:left;margin:/*28px 0 0 11px*/20px 0 0 11px}
#footer .inner address{display:block;float:left;margin:0 0 0 11px}