.content1 { height:100% !important; margin-top:20px; margin-bottom:20px; }
.content1 h4 { height: 47px; font-size: 16px; color: #333; background: url(../img/bullet.png) no-repeat 0 6px; padding: 8px 0 0 27px; }
.policyWrap { height:100%; width:100%;overflow-y:visible;padding:20px;border:1px solid #e2e2e2;border-top:2px solid #3b5a9a;word-spacing:-1px;line-height:1.5em}
.policyWrap h2 { font-size:18px; }
.policyWrap h3 { margin:40px 0 10px; }
.policyWrap h3:first-child { margin:0 0 10px; }
.policyWrap h4 { margin:20px 0 10px; }
.policyWrap ol { margin-left:25px; }
.policyWrap ol li { margin-bottom:15px;list-style-type:decimal; }
.policyWrap ul { margin-left:18px; }
.policyWrap ul li { margin-bottom:0px; }
.policyWrap dt { color:#333;margin-top:10px; }
.policyWrap table{ border-collapse:collapse;width:99%; }
.policyWrap table th{ border:1px solid #ddd;padding:2px;text-align:center; }
.policyWrap table td{ border:1px solid #ddd;padding:2px; }
